/*start page CSS*/
body {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color:rgb(32, 177, 129);
}

#gaming-console {
    margin: 0;
    position: absolute;
    width: 1600px;
    height: 900px;
    left: 50px;
}

#start-page-background {
    position: absolute;
    width: 415px;
    height: 300px;
    top: 112px;
    left: 642px;
}

#start-btn-img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 260px;
    left: 775px;
}

#bgm-ctrl {
    position: relative;
    display: flex;
    left: 850px;
}

.rightside-img {
    position: absolute;
    display: block;
    margin: 0;
    width: 350px;
    height: auto;
    right: 100px;
}

.leftside-img {
    position: absolute;
    display: block;
    margin: 0;
    width: 350px;
    height: auto;
}

.pikachu-eevee {
    position: relative;
    width: 300px;
    height: 200px;
    left: 50px;
    margin-top:50px;
    margin-bottom: 20px;
}

.happy-bulbasaur {
    position: relative;
    width: 300px;
    height: 200px;
    left: 180px;
    margin-top:20px;
    margin-bottom: 20px;
}

.cyndaquil {
    position: relative;
    width: 300px;
    height: 300px;
    left: 80px;
    margin-top:20px;
    margin-bottom: 20px;
}

.meowth {
    position: relative;
    width: 280px;
    height: 280px;
    right: -140px;
    margin-top:20px;
    margin-bottom: 20px;
}

.squirtle {
    position: relative;
    width: 280px;
    height: 280px;
    right: -20px;
    margin-top:10px;
    margin-bottom: 10px;
}

.totodile {
    position: relative;
    width: 280px;
    height: 280px;
    right: -80px;
    margin-top:10px;
    margin-bottom: 10px;
}
