/*start page CSS*/
body {
    margin:0;
    padding: 0;
    display: flex;
}

#scene {
    background-image: url(assets/scene1.jpg);
    background-size: cover;
    position: absolute;
}

#start-page-background {
    position: absolute;
    width: 1000px;
    height: 800px;
    top: 80px;
    left: 500px;
    opacity: 0.8;
    border-radius: 50%;
}

#start-btn-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 600px;
    left: 900px;
    transform: scale(.97);
    transition: transform .2s;
}

.guide {
    position: absolute;
    top: 760px;
    left: 900px;
    font-size: 2em;
}





