/*some basic CSS for the game page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: lightblue;
}

.memory-game {
    width: 1000px;
    height: 800px;
    position: relative;
    left: 450px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(146, 146, 66);
}

.memory-card {
    padding: 0;
    margin: 0;
    width: 20%;
    height: 25%;
    position: relative;
    border: 2px solid black;
}

.front-face,
.back-face {
    position: absolute;
    border: 2px solid lightgrey;
}

img {
    width: 196px;
}

h3 {
    font-size: 3em;
    position: relative;
    left: 650px;
}