/*some basic CSS for the game page */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: lightblue;
}

img {
    width: 100px;
}

.pageContainer {
    width: 750px;
    margin: 0 auto;
}

.gameGrid {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
    border: 1px solid black;
}

.gameGrid img {
    width: 150px;
    height: 150px;
}