html{
    height:100%
  }
  body{
    height:100%;
    background: url(https://78.media.tumblr.com/ab5d1b5e315a2eca8f7ceecbac7fd622/tumblr_oz2jfje5Jn1u6t6uao1_1280.jpg) center center no-repeat;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:sans-serif;
    margin:0;
    overflow:hidden
  }
  #start-page {  
    text-align:center;
    cursor:pointer;
  }
  #start-page img{
    display:block;
    width:80vw;
    max-width:700px;
    height:auto;
    transition:0.2s
  }
  #start-page a{
    display:block;
    font-family: 'Passion One';
    font-size:3em;
    color:#333;
    font-weight:800;
    text-decoration:none;
    background:rgba(0,0,40,0);
    padding:5px 15px;
    transition:0.4s
  }
  #start-page:hover a{  
    color:rgba(200,80,50,1);
    text-shadow:2px 5px 0 rgba(0,0,0,0.6)
  }
  
  .btn-twtr{
    color:#ddd;
    border:2px solid;
    border-radius:3px;
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    font-family:sans-serif;
    font-weight:600;
    margin-top:80vh;
    background:rgba(0,0,0,0.2);
    box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
    opacity:0.8;
    position:absolute;
    bottom:20px;
    right:20px
  }.btn-twtr:hover{color:#fff;}
  .btn-twtr:after{content:"\1F426";padding-left:5px}